  <!-- <div class="product-image-holder">
    <img [src]="product.image" [alt]="product.name" class="product-image" />
  </div> -->
  <!-- <div class="product-details">
    <p class="product-details__name">{{ product.id }}</p>
    <p class="product-details__price">{{ product.origin }}</p>
  </div> -->
  <!-- <div class="product-description">
    <p>{{ product.blend_name }}</p>
    <p>{{product.variety}}</p>
    <p>{{product.notes}}</p>
    <p>{{product.intensifier}}</p>
  </div> -->
  <!-- <div class="product">
    <div class="product-img">
        <img src="../../assets/Roasted_coffee_beans.jpg">
    </div>
    <div class="product-content">
        <h3>
           <a [routerLink]="['/products', product.id]">
            {{ product.blend_name }}
          </a>
        </h3>
        <p class="product-text price">{{ product.id }}</p>
        <p class="product-text genre">{{ product.origin }}</p>
    </div> -->

  
